#
# Config for using Orange Pi's expansion header
#
# This is best used with a fast enough buffer but also
# is suitable for direct connection if the target voltage
# matches OPi's 3.3V and the cable is short enough.
#
# Do not forget the GND connection, pin 6 of the expansion header.
#

interface allwinner_gpio

# for h6/h616
allwinner_gpio_peripheral_base 0x0300b000 0x07022000

# Transition delay calculation: SPEED_COEFF/khz - SPEED_OFFSET
# These depend on system clock, calibrated for stock 700MHz
# allwinner_gpio_speed SPEED_COEFF SPEED_OFFSET
allwinner_gpio_speed_coeffs 146203 36

# Each of the JTAG lines need a gpio number set: tck tms tdi tdo
# Header pin numbers: PA14 PA16 PA03 PA00
allwinner_gpio_jtag_nums PA14 PA16 PA03 PA00

# Each of the SWD lines need a gpio number set: swclk swdio
# Header pin numbers: PA14 PA16
allwinner_gpio_swd_nums PA14 PA16

# If you define trst or srst, use appropriate reset_config
# Header pin numbers: TRST - 26, SRST - 18

# allwinner_gpio_trst_num PA01
# reset_config trst_only

allwinner_gpio_srst_num PA15

# or if you have both connected,
# reset_config trst_and_srst srst_push_pull

# best with stm32
# reset_config srst_only srst_push_pull connect_assert_srst
